
<div class="container">
  <div class="form-card">
    <h4>Choose a movie</h4>
    <%= simple_form_for [@list, @bookmark], html: { autocomplete: "off" } do |f| %>
      <%= f.association :movie, input_html: { class: "input-dark" } %>
      <%= f.input :comment, input_html: { class: "input-dark" } %>
      <%= f.submit class: "btn btn-purple mt-2" %>
    <% end %>
  </div>
</div>
