.form-list {
  width: 400px;
  margin: 50px auto;
  padding: 30px 20px;
  border: 1px solid #ccc;

  h4 {
    text-align: center;
    margin-bottom: 16px;
  }

  label {
    font-size: 12px;
  }

  .btn {
    width: 100%;
  }
}
