.navbar-lewagon {
  justify-content: space-between;
  background: #191919;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    img {
      width: 20px;
    }
  }
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;

  .nav-link {
    font-size: 14px;
    padding: 0 !important;
    margin-right: 32px;
    color: #dbdbdb;
  }
}

.dropdown-item {
  font-size: 14px;
}
